body {
    background-color: #ccc;
    background-image: url(img/beautifulAfrica.jpeg);
    background-attachment: fixed;
    background-color: #ccc; 
    background-blend-mode: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    animation-name: anim;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-delay: .7s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    
}

#capital {
    font-size: 2.1rem;
    margin: 0 auto;
    margin-right: 10px;
    /* padding: 5px; */
    color: #569;
    background-color: #fff;
}
#input_one {
    border: none;
    height: 1.5rem;
    padding: 7px;
    text-align: center;
    margin: 5px 10px;
    transition-property: margin-bottom , margin-right;
    transition:  0.9s linear;
}
#input_one:hover {
 border-bottom: 2px dotted steelblue;
 border-left: 2px solid steelblue;
 background-color: #cee;
 margin-bottom: 20px;
 margin-right: 20px;
 transition: scale(1.1);
}
#input_one::placeholder {
    color: #999;
}
#input_one:hover::placeholder {
    color: #eee;
    background-color: #333;
    width: 100%;
    position: relative;
    font-weight: 700;
    top: -10px;
}

p {
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  
}
.footer {
    font-size: 0.9rem;
    color: #eee;
    /* left: 15px; */
}

[type="submit"] {
    background-color: steelblue;
    color: #fff;
    width: 6rem;
    margin: auto;
    padding: 7px;
}
b {
    color: steelblue;
}
.all {
    width: 100%;
    /* margin: 60px auto; */
    background-color: #222;
    /* border-radius: 15px; */
    opacity: 0.85;
    color: #ddd;
    padding: 20px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -30px;
    height: 100vh;
    z-index: 2;
    transition: all 2.0s ease;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #eee;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: green;
    font-weight: 600;
    font-size: 1.3rem;
}

@keyframes anim {
    0% {background-image: url(img/beautifulAfrica.jpeg);}
    25% {background-image: url(img/afriMapCountries.jpeg);}
    50% {background-image: url(img/richardAfrica.jpeg);}
    75% {background-image: url(img/mapAfrikaBlue.jpeg);}
    100% {background-image: url(img/elephAfriKilima.jpeg);}
}

@media screen and (min-width: 600px) {
    #content {
        width: 50%;
        /* background-color: crimson; */
        margin: auto;
    }
    .all {
        text-align: center;
    }
}